.form__section
{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15vh;
  height: 10vh;
  form
  {

  }
  input
  {
    width: 250px;
    padding: 10px;
    border: 1px solid #333;
    &:focus{
      border: 2px solid #c7d7eb;
    }

  }
  button
  {
    border: none;
    padding: 13px 20px;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #3d405b;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .5s;
    &:hover{
      background-color: #f77f00;
      color: #fff;
    }
  }
}
